{% extends "base.html" %}

{% block title %}Files{% endblock %}

{% block content %}

<table class="list-table">
    <thead>
        <tr>
            <th class="sortable" data-field='name'>Name</th>
            <th class="sortable" data-field='created'>Created</th>
            <th class="sortable" data-field='type'>Type</th>
        </tr>
        <tr>
            <th><input class='form-control filter keyup' data-field='name'></input></th>
            <th><input class='form-control filter change' data-field='created'></input></th>
            <th><input class='form-control filter change' data-field='type'></input></th>
        </tr>
    </thead>
    <tbody>
        {% include 'files/_files_list.html' %}
    </tbody>
</table>

<script>
    listURL="{{ list_url }}";
</script>

{% endblock %}
