<div class="pagin">

    <select class="filter change selectpicker" data-field='pp'>
        <option value='5' {% if page.paginator.per_page == 5 %}selected{% endif %}>5</option>
        <option value='10' {% if page.paginator.per_page == 10 %}selected{% endif %}>10</option>
        <option value='20' {% if page.paginator.per_page == 20 %}selected{% endif %}>20</option>
    </select>

    <div class="pages">
        {% for p in page.paginator.page_range %}
        <div class="page">
            {% if p == page.number %}
                {{ p }}
            {% else %}
                <a class="page_select">{{ p }}</a>
            {% endif %}
        </div>
        {% endfor %}
        <input type="hidden" class="filter change page_filter" data-field="page"></input>
    </div>

</div>
