{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Login{% endblock %}

{% block container %}

<div class="col-xs-4 col-xs-offset-4">
    <form role="form" class="form-horizontal" method="post" action=".">
        {% csrf_token %}

        {% include "common/_form_nf_errors.html" %}

        {% for field in form %}

            {% include "common/_form_field_errors.html" %}

            <div class="form-label">{{ field.label }}</div>
            {{ field|add_class:"form-control" }}

        {% endfor %}

        <input type="submit" class="btn btn-primary btn-container btn-bold" value="Login" />
        <a role="button" class="btn btn-bold btn-danger" href="{% url 'fe_home' %}">Cancel</a>
    </form>
</div>

{% endblock %}
