<div class="items-list">

    {% for object in objects %}
        {% if object.type == 1 %}
            <a href="{% url 'fe_file' id=object.id %}" class='item {{ object.get_type_display }}'>
                <div class="name">{{ object.name }}</div>
                <div class="info-created">{{ object.created_at }}</div>
            </a>
        {% else %}
            <div class='item {{ object.get_type_display }}'>
                <div class="name">{{ object.name }}</div>
                <div class="info-created">{{ object.created_at }}</div>
            </div>
        {% endif %}
    {% endfor %}

</div>
