<div class="box">
    <header class=""><strong>Dates search</strong></header>

    <header class="">Start date</header>
    <input class="input is-small filter" name="start_date" id="id-start-date"
        type="text" data-field="start_date"></input>

    <header class="">End date</header>
    <input class="input is-small filter" name="end_date" id="id-end-date"
        type="text" data-field="end_date"></input>

    <div>
        <header class="">Guests number</header>
        <div class="select is-small">
            <select class="filter" name="guest_number" data-field="guest_number">
                <option value='1'>1</option>
                <option value='2' selected>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>over 9</option>
            </select>
        </div>
    </div>
    <div>
        <header class="">Rooms number</header>
        <div class="select is-small">
            <select class="filter" name="rooms_number" data-field="rooms_number">
                <option value='1'>1</option>
                <option value='2' selected>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>over 9</option>
            </select>
        </div>
    </div>
    <div style="display:inline-block;width:100%">
        <button class="button is-warning pull-right" onclick="updateTable()">Apply</button>
    </div>
</div>

<div class="box">
    <header class=""><strong>Main features</strong></header>
    {% for feature in features %}
    <div class="">
        <input type="checkbox" id="feature_{{ feature.id }}" class="filter"
            data-value="{{ feature.id }}" data-field="feature_{{ feature.id }}"/>
            <label for="feature_{{ feature.id }}">{{ feature }}</label>
    </div>
    {% endfor %}

    <header class=""><strong>Room features</strong></header>
    {% for feature in room_features %}
    <div class="">
        <input type="checkbox" id="room_feature_{{ feature.id }}" class="filter"
            data-value="{{ feature.id }}" data-field="room_feature_{{ feature.id }}"/>
            <label for="room_feature_{{ feature.id }}">{{ feature }}</label>
    </div>
    {% endfor %}

    <header class=""><strong>Ratings</strong></header>
    {% for key, value in ratings %}
    <div class="">
        <input type="checkbox" id="rate_{{ key }}" class="filter"
            data-value="{{ key }}" data-field="rate_{{ key }}"/>
            <label for="rate_{{ key }}">{{ value }}</label>
    </div>
    {% endfor %}

    <div style="display:inline-block;width:100%">
        <button class="button pull-right" onclick="updateTable()">Apply</button>
        <button class="button is-warning pull-right" onclick="clearFilters()">Clear</button>
    </div>
</div>

<script>
    $('#id-start-date').datepicker({
        autoclose: true,
    })
    .on(
        'changeDate', function(e){
            $('#id-end-date').datepicker('setStartDate', e.date);
            var new_date = moment(e.date, "MM/DD/YYYY");
            $('#id-end-date').datepicker('setDate', new_date.add(1, 'days').format("MM/DD/YYYY"));
    });

    $('#id-start-date').datepicker("setDate", new Date());

    $('#id-end-date').datepicker({
        useCurrent: false, //Important! See issue #1075
        autoclose: true
    }).on(
        'changeDate', function(e){
            $('#id-start-date').datepicker('setEndDate', e.date);
    });
</script>
