{% if page.paginator.num_pages > 1 %}

<nav class="pagination" role="navigation" aria-label="pagination">
    <ul class="pagination-list">
        {% for p in page.paginator.page_range %}
            {% if p == page.number %}
            <li>
                <a class="pagination-link is-current" data-page="{{ p }}">{{ p }}</a>
            </li>
            {% else %}
            <li>
                <a class="pagination-link" data-page="{{ p }}">{{ p }}</a>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <input type="hidden" class="filter change page_filter" data-field="page"></input>
</nav>

{% endif %}
