
<div class="box">
    <div class="columns">
        <div class="column is-one-quarter">
            <div class="title is-6">{{ review.user.public_name }}</div>
            <div class="title is-6">{{ review.user.country }}</div>
            <div class="subtitle is-6">on {{ review.created_at|date:'F Y' }}</div>
        </div>

        <div class="column is-two-thirds">
            <div class="subtitle is-5">
                <div class="icon rate-avg">{{ review.rate }}</div>&nbsp;&nbsp;&nbsp;"{{ review.heading|safe }}"
            </div>
            <div class="subtitle is-6">
                <span class="icon has-text-success fa-lg"><i class="fas fa-plus-square"></i></span>
                {{ review.pros|safe }}
            </div>
            <div class="subtitle is-6">
                <span class="icon has-text-warning fa-lg"><i class="fas fa-minus-square"></i></span>
                {{ review.cons|safe }}
            </div>
        </div>
    </div>
</div>
