{% load thumbnail %}

<table class="table is-fullwidth">
    <thead>
        <tr>
            <th class="">Room Name</th>
            <th class=""></th>
        </tr>
    </thead>
    <tbody class="">
        {% for room in file.rooms %}
        <tr>
            <td>

                <div class="subtitle is-spaced">
                    <a class="subtitle is-5 modal-button is-spaced"
                    data-target="modal-room-{{ room.id }}"
                    data-title="{{ room.name }}">
                        {{ room.name }}
                        <i class="fas fa-xs fa-align-justify"></i></a>
                    <br>
                </div>

                {% if room.rest_places.exists %}
                    <div class="subtitle is-6 is-spaced">
                        <strong>Sleeping places:</strong>
                        {% for place in room.rest_places.all %}
                            {% if place.image %}<img src="{{ place.image.url }}" />{% endif %}
                            {{ place.count }} {{ place }}{% if places.count > 1 %}s{% endif %}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% if room.features.exists %}
                    <div class="title is-6">Facilities:</div>
                    {% for feature in room.features.all %}
                        <span class="subtitle is-6">{{ feature }}</span><br>
                    {% endfor %}
                {% endif %}
            </td>
            <td>
                {% if room.prices.exists %}
                    <table class="table">
                        <tr>
                            <th>Guests number</th>
                            <th>Price for
                                {% if request.session.date_diff %}
                                    {{ request.session.date_diff }}
                                {% else %}
                                    1
                                {% endif %} days
                                </th>
                            <th class="is-narrow"></th>
                        </tr>
                        {% for price in room.get_prices_asc %}
                        <tr>
                            <td><label for="room-price-{{ price.id }}">{{ price.people_number }}</label></td>
                            <td><label for="room-price-{{ price.id }}">
                                {% if request.session.date_diff %}
                                    {% widthratio price.price 1 request.session.date_diff %}.0
                                {% else %}
                                    {{ price.price }}
                                {% endif %}
                            </label></td>
                            <td><input name="room-select-{{ room.id }}" class="room-select" data-id="{{ price.id }}" type="checkbox" id="room-price-{{ price.id }}"></input></td>
                        </tr>
                        {% endfor %}
                    </table>
                {% endif %}
                <br>
                {% if request.session.start_date and request.session.end_date %}
                    <a data-href="{% url 'fe_order_2' id=file.id %}"
                        class="button is-info pull-right book-button" disabled>Book now</a>
                {% else %}
                    <button disabled class="pull-right button is-primary tooltip"
                        data-tooltip="Please select stay dates">Book now</button>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(".room-select").on("change", function(){
        if ($(this).is(":checked")) {
            var group = "input:checkbox[name='" + $(this).attr("name") + "']";
            $(group).prop("checked", false);
            $(this).prop("checked", true);
            $('.book-button').removeAttr('disabled');
        } else {
            $(this).prop("checked", false);
        }
        $('.book-button').attr('disabled', 'disabled');
        $('.room-select').each(function(idx, el){
            if ($(el).is(':checked')){
                $('.book-button').removeAttr('disabled');
            }
        });
    });
</script>

{% for room in file.rooms %}
    <div class="modal" id="modal-room-{{ room.id }}">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">{{ file.name }} {{ room.name }}</p>
                <button class="delete" aria-label="close"></button>
            </header>

            <section class="modal-card-body">
                <div class="columns">
                    {% if room.images.exists %}
                        <div class="column is-two-thirds">
                            <div class="subtitle carousel carousel-animated carousel-animate-slide">
                                <div class='carousel-container'>
                                    {% for img in room.images.all %}
                                        <div class='carousel-item has-background is-active'>
                                            {% thumbnail img.image "640x420" crop="center" as im %}
                                                <img class="is-background" src="{{ im.url }}"></img>
                                            {% endthumbnail %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="carousel-navigation is-overlay">
                                    <div class="carousel-nav-left">
                                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                                    </div>
                                    <div class="carousel-nav-right">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="subheader is-6 slider-images">
                                {% for img in room.images.all %}
                                    {% thumbnail img.image "80x53" crop="center" as im %}
                                        <img src="{{ im.url }}"></img>
                                    {% endthumbnail %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}

                    <div class="column">

                        <div class="subtitle is-6 is-spaced">
                            {% if room.prices.exists %}
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th>Guests number</th>
                                            <th>Price</th>
                                        </tr>
                                        {% for price in room.get_prices_asc %}
                                        <tr>
                                            <td><label for="room-price-{{ price.id }}">{{ price.people_number }}</label></td>
                                            <td><label for="room-price-{{ price.id }}">{{ price.price }}</label></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            {% endif %}
                        </div>

                        {% if room.rest_places.exists %}
                            <div class="title is-6 is-spaced">Sleeping places:</div>
                            <div class="subtitle is-6 is-spaced">
                            {% for place in room.rest_places.all %}
                                <span class="">
                                    {% if place.image %}<img src="{{ place.image.url }}" />{% endif %}
                                    {{ place.count }} {{ place }}{% if places.count > 1 %}s{% endif %}
                                </span><br>
                            {% endfor %}
                            </div>
                        {% endif %}

                        <div class="title is-6">Facilities:</div>

                        {% for feature in room.features.all %}
                            <span class="subtitle is-6">{{ feature }}</span><br>
                        {% endfor %}
                    </div>
                </div>
            </section>

            <footer class="modal-card-foot pull-right">
                <button class="button is-info pull-right">OK</button>
            </footer>

        </div>
    </div>
{% endfor %}
