{% load thumbnail %}

<div class="item-details col-xs-12">
    <div class="col-xs-8">
        <a href="{% url 'fe_file' id=item.id %}" class="review_user name">{{ item }}</a>
    </div>
    <div class="col-xs-4 text-right name">
        {{ item.rate }}
    </div>
    <div class="col-xs-12 text-right">
        {{ item.reviews_count }} reviews
    </div>
    <div class="col-xs-12">
        {% thumbnail item.top_slider.images.first.image "80x80" crop="center" as im %}
            <a href="{% url 'fe_file' id=item.id %}">
                <img align="left" src="{{ im.url }}"></img>
            </a>
        {% endthumbnail %}
        <span class="similar-txt">
            {{ item.middle_content|truncatewords:12|default_if_none:""|safe }}
        </span>
    </div>
    <div class="col-xs-12">
        <a class="btn btn-default" href="{% url 'fe_file' id=item.id %}">View now</a>
    </div>
</div>
