{% load thumbnail %}

<div class="box">

    <div class="columns">
        <div class="column is-one-third">

            <div class='carousel carousel-animated carousel-animate-slide list-icons'>
                <div class='carousel-container'>
                    {% for img in object.top_slider.images.all %}
                        <div class='carousel-item has-background is-active'>
                            {% thumbnail img.image "640x520" crop="center" as im %}
                                <img class="is-background" src="{{ im.url }}" width="640" height="520" />
                            {% endthumbnail %}
                        </div>
                    {% endfor %}
                </div>
                <div class="carousel-navigation is-overlay">
                    <div class="carousel-nav-left">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="carousel-nav-right">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

        </div>

        <div class="column">
            <div class="subtitle">
                <a class="title is-5 is-spaced" href="{% url 'fe_file' id=object.id %}">{{ object }}</a>
            </div>

            <div class="subtitle is-6">
                {{ object.middle_content|truncatewords:12|default_if_none:""|safe }}
            </div>

            <div class="subtitle is-6">
                {% for feature in file.features.all %}
                <span class="{% if feature.is_main == True %}{% endif %}">
                    {% if feature.image %}
                        <img src="{{ feature.image.url }}"></img>
                    {% endif %}
                    {{ feature.name }}
                </span>
                {% endfor %}
            </div>

            <a class="button pull-right is-link" href="{% url 'fe_file' id=object.id %}">View now</a>
        </div>

    </div>
</div>
