{% extends "customers/home.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Files{% endblock %}

{% block left_filters %}
    <div class="filters">
        <label class="">Main features</label>
        {% for feature in features %}
        <div class="filter-checkbox">
            <input type="checkbox" id="feature_{{ feature.id }}" class="filter"
                data-value="{{ feature.id }}" data-field="feature_{{ feature.id }}"/>
                <label for="feature_{{ feature.id }}">{{ feature }}</label>
        </div>
        {% endfor %}
        <label class="">Room features</label>
        {% for feature in room_features %}
        <div class="filter-checkbox">
            <input type="checkbox" id="room_feature_{{ feature.id }}" class="filter"
                data-value="{{ feature.id }}" data-field="room_feature_{{ feature.id }}"/>
                <label for="room_feature_{{ feature.id }}">{{ feature }}</label>
        </div>
        {% endfor %}
        <button class="btn btn-default" onclick="updateTable()">Apply</button>
    </div>
{% endblock %}

{% block content %}

<div class="items-container">

    {% include 'customers/_files_list.html' %}

    {% include 'customers/_pagin.html' %}

</div>

<script>
    listURL="{{ list_url }}";
</script>

{% endblock %}
