{% extends "customers/home.html" %}

{% load widget_tweaks %}
{% load thumbnail %}

{% block title %}{{ file.name }}{% endblock %}

{% block content %}

<div class="col-xs-8">
    <div class="row">

        <div class="form-label">{{ file.name }}</div>
        <div>{{ file.top_content|default_if_none:""|safe }}</div>
        <div class="main-image">
            {% thumbnail file.top_slider.images.first.image "600x400" crop="center" as im %}
                <img src="{{ im.url }}"></img>
            {% endthumbnail %}
        </div>
        <div class="image_slider">
            {% for img in file.top_slider.images.all %}
                {% thumbnail img.image "130x100" crop="center" as im %}
                    <img src="{{ im.url }}"></img>
                {% endthumbnail %}
            {% endfor %}
        </div>
        <div>{{ file.middle_content|default_if_none:""|safe }}</div>
        <div class="image_slider">
            {% for img in file.bottom_slider.images.all %}
                <img src="{{ img.image.url }}"></img>
            {% endfor %}
        </div>
        <div>{{ file.bottom_content|default_if_none:""|safe }}</div>

        <div class="features clearfix">
            {% for feature in file.features.all %}
            <div class="pull-left {% if feature.is_main == True %}feature_main{% endif %}">
                <img src="{{ feature.image.url }}"></img>
                {{ feature.name }}
            </div>
            {% endfor %}
        </div>

        {% include 'customers/_rooms_list.html' %}

        <div class="reviews">
            <div class="name">
                <span>Reviews</span>
                <a href="{% url 'fe_reviews' id=file.id %}" class="pull-right">
                    See all ({{ file.reviews_count }})</a>
                {% if request.user.is_authenticated %}
                <a href="{% url 'fe_review_add' id=file.id %}" class="pull-right">
                    Add review</a>
                {% endif %}
            </div>
            {% for review in file.latest_reviews %}
                {% include 'customers/_review_details.html' %}
            {% endfor %}
        </div>

        <div class="btn-container">
            <a role="button" class="btn btn-bold btn-default pull-right" href="{% url 'fe_home' %}">Back</a>
        </div>

    </div>
</div>

{% endblock %}
