{% extends "customers/home.html" %}

{% load widget_tweaks %}
{% load thumbnail %}

{% block title %}{{ file.name }}{% endblock %}

{% block content %}

<div class="title is-5 is-spaced">{{ file.name }}</div>
<div class="subtitle is-6">{{ file.top_content|default_if_none:""|safe }}</div>

<div class="subtitle">
    <div class="carousel carousel-animated carousel-animate-slide" data-autoplay="true">
        <div class="carousel-container">
            {% for image in file.top_slider.images.all %}
                <div class="carousel-item has-background is-active">
                    {% thumbnail image.image "600x400" crop="center" as im %}
                        <img class="is-background" src="{{ im.url }}" width="600" height="400" />
                    {% endthumbnail %}
                    <div class="title">{{ file.name }}</div>
                </div>
            {% endfor %}
        </div>

        <div class="carousel-navigation is-overlay">
            <div class="carousel-nav-left">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="carousel-nav-right">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>

<div class="subtitle">
    {% for img in file.top_slider.images.all %}
        {% thumbnail img.image "110x80" crop="center" as im %}
            <img src="{{ im.url }}" width="110"></img>
        {% endthumbnail %}
    {% endfor %}
</div>

{% if file.middle_content %}
    <div class="subtitle is-5 is-spaced">{{ file.middle_content|default_if_none:""|safe }}</div>
{% endif %}

{% if file.bottom_content %}
    <div class="subtitle is-5 is-spaced">{{ file.bottom_content|default_if_none:""|safe }}</div>
{% endif %}

{% if file.features.exists %}
    <div class="title is-5 is-spaced">Place facilities</div>

    <div class="subtitle level">
        {% for feature in file.features.all %}
        <div class="{% if feature.is_main == True %}{% endif %} subtitle">
            {% if feature.image %}
                <img src="{{ feature.image.url }}"></img>
            {% endif %}
            {{ feature.name }}
        </div><br>
        {% endfor %}
    </div>
{% endif %}

{% include 'customers/_rooms_list.html' %}

{% if file.review_set.exists %}
    <div class="title is-5 is-spaced">Reviews
        <a href="{% url 'fe_reviews' id=file.id %}" class="pull-right">
            See all ({{ file.reviews_count }})
        </a>
    </div>

    {% if request.user.is_authenticated %}
        <a href="{% url 'fe_review_add' id=file.id %}" class="pull-right">Add review</a>
    {% endif %}

    {% for review in file.latest_reviews %}
        {% include 'customers/_review_details.html' %}
    {% endfor %}
{% endif %}

{% if file.similar.exists %}
    <div class="title is-5 is-spaced">Similar items</div>
    {% for item in file.similar %}
        {% include 'customers/_similar_details.html' %}
    {% endfor %}
{% endif %}

<a class="button is-link pull-right" href="{% url 'fe_home' %}">Back</a>

{% endblock %}
