{% extends "customers/home.html" %}

{% load widget_tweaks %}
{% load thumbnail %}

{% block title %}{{ file.name }} Make Order{% endblock %}

{% block content %}

    <div class="steps">
        <div class="step-item is-completed is-success">
            <div class="step-marker">
                <span class="icon">
                    <i class="fa fa-check"></i>
                </span>
            </div>
            <div class="step-details">
                <p class="step-title">Step 1</p>
                <p>Select your room</p>
            </div>
        </div>
        <div class="step-item is-active">
            <div class="step-marker"></div>
            <div class="step-details">
                <p class="step-title">Step 2</p>
                <p>Order details</p>
            </div>
        </div>
        <div class="step-item">
            <div class="step-marker"></div>
            <div class="step-details">
                <p class="step-title">Step 3</p>
                <p>Checkout</p>
            </div>
        </div>
        <div class="step-item">
            <div class="step-marker">
                <span class="icon">
                    <i class="fa fa-flag"></i>
                </span>
            </div>
            <div class="step-details">
                <p class="step-title">Step 4</p>
                <p>Order review</p>
            </div>
        </div>
    </div>

    <div>
        <div class="subtitle">Item: <strong>{{ file }}</strong></div>
        <div class="subtitle">Rooms:
            {% for room in rooms %}
                <strong>{{ room }}</strong>{% if not forloop.last %},{% endif %}
            {% endfor %}
        </div>
        <div class="subtitle">Price: <strong>{{ price }}</strong></div>
    </div>

    <form action="" method="post" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="field is-grouped">
            <div class="control">
                <label class="label" for="id-title-select">Title</label>
                <div class="select">
                    {% if form.title.errors %}
                        {{ form.title|add_class:"select"|add_class:"is-danger" }}
                        <p class="help is-danger">{{ form.title.errors.0 }}</p>
                    {% else %}
                        {{ form.title|add_class:"select" }}
                    {% endif %}
                </div>
            </div>
            <div class="control is-expanded">
                <label class="label" for="id_first_name">First Name</label>
                {% if form.first_name.errors %}
                    {{ form.first_name|add_class:"input"|add_class:"is-danger" }}
                    <p class="help is-danger">{{ form.first_name.errors.0 }}</p>
                {% else %}
                    {{ form.first_name|add_class:"input" }}
                {% endif %}
            </div>
            <div class="control is-expanded">
                <label class="label" for="id_last_name">Last Name</label>
                {% if form.last_name.errors %}
                    {{ form.last_name|add_class:"input"|add_class:"is-danger" }}
                    <p class="help is-danger">{{ form.last_name.errors.0 }}</p>
                {% else %}
                    {{ form.last_name|add_class:"input" }}
                {% endif %}
            </div>
        </div>

        <div class="field">
            <div class="control">
                <label class="label" for="id-email-input">Email Address</label>
                {% if form.email.errors %}
                    {{ form.email|add_class:"input"|add_class:"is-danger" }}
                    <p class="help is-danger">{{ form.email.errors.0 }}</p>
                {% else %}
                    {{ form.email|add_class:"input" }}
                {% endif %}
            </div>
            <div class="control">
                <label class="label" for="id-confirm-email-input">Confirm Email Address</label>
                {% if form.confirm_email.errors %}
                    {{ form.confirm_email|add_class:"input"|add_class:"is-danger" }}
                    <p class="help is-danger">{{ form.confirm_email.errors.0 }}</p>
                {% else %}
                    {{ form.confirm_email|add_class:"input" }}
                {% endif %}
            </div>
            <div class="control">
                <label class="label" for="id-message">Special Request</label>
                {% if form.message.errors %}
                    {{ form.message|add_class:"textarea"|add_class:"is-danger" }}
                    <p class="help is-danger">{{ form.message.errors.0 }}</p>
                {% else %}
                    {{ form.message|add_class:"textarea" }}
                {% endif %}
            </div>
        </div>

        <input class="button is-info pull-right" type="submit" value="OK" />

    </form>

{% endblock %}
