{% extends "customers/home.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ file.name }} Reviews{% endblock %}

{% block content %}

<div class="title is-5">
    <a class="subtitle" href="{% url 'fe_file' id=file.id %}">{{ file.name }}</a>
    <a class="sortable filter subtitle is-6 button" data-field='created'>Latest</a>
    <a class="sortable filter subtitle is-6 button" data-field='rate'>Rate</a>

    <div class="dropdown">
        <div class="dropdown-trigger">
            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                <span>Type</span>
                <span class="icon is-small">
                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
            </button>
        </div>
        <div class="dropdown-menu" role="menu">
            <div class="dropdown-content">
                <a class="dropdown-item">Hello</a>
                <a class="dropdown-item">Hello</a>
            </div>
        </div>
    </div>

</div>

<div class="files-list-js">
    {% include 'customers/_reviews_list.html' %}
</div>

<div class="pagin-js">
    {% include 'customers/_pagin.html' %}
</div>

<script>
    listURL="{{ list_url }}";
</script>

{% endblock %}
