{% extends "customers/home.html" %}

{% load widget_tweaks %}

{% block title %}Add review{% endblock %}

{% block content %}

<div class="col-xs-8">
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include "common/_form_nf_errors.html" %}

            {% for field in form %}

                {% include "common/_form_field_errors.html" %}

                <div class="form-label">{{ field.label }}</div>
                {{ field|add_class:"form-control" }}

            {% endfor %}

            <div class="btn-container">
                <input class="btn btn-bold btn-default" type="submit" value="OK" />
                <a role="button" class="btn btn-bold btn-primary" href="{% url 'fe_file' id=file.id %}">
                    Back</a>
            </div>

        </form>
    </div>
</div>

{% endblock %}
