{% extends "customers/home.html" %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}{{ file.name }} Reviews{% endblock %}

{% block content %}

<div class="title is-5">
    <a class="subtitle" href="{% url 'fe_file' id=file.id %}">{{ file.name }}</a>
    <a class="sortable filter subtitle is-6 button" data-field='created'>Latest</a>
    <a class="sortable filter subtitle is-6 button" data-field='rate'>Rate</a>
    <div class="select arrow-black subtitle is-6">
        <select class="change filter" data-field="type">
            <option value="">Any</option>
            <option value="1">Family</option>
            <option value="2">Couple</option>
            <option value="3">Business</option>
            <option value="4">Single</option>
        </select>
    </div>
</div>

<div class="files-list-js">
    {% include 'customers/_reviews_list.html' %}
</div>

<div class="pagin-js">
    {% include 'customers/_pagin.html' %}
</div>

<script>
    listURL="{{ list_url }}";
</script>

{% endblock %}
