<div class="pagin">

    <select class="selectpicker pp">
        <option value='5'>5</option>
        <option value='10'>10</option>
        <option value='20'>20</option>
    </select>

    <div class="pages">
        {% for p in page.paginator.page_range %}
        <div class="page">
            {% if p == page.number %}
                {{ p }}
            {% else %}
                <a href="{{ list_url }}">{{ p }}</a>
            {% endif %}
        </div>
        {% endfor %}
    </div>

</div>
