{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}The HTML5 Herald{% endblock %}</title>

    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}

    {% block js %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}

</head>

<body>
    <div class="row">
        <div class="container col-xs-12">
            {% block container %}
            <div class="left-col">
                <div class="logo">Logo</div>
                <div class="menu">
                    <div class="parent">
                        <div class="unfold"><a><i class="material-icons">attach_file</i><span>Items</span></a></div>
                        <div><a href="{% url 'files' %}"><i class="material-icons">attach_file</i><span>Files</span></a></div>
                        <div><a href="{% url 'folders' %}"><i class="material-icons">folder</i><span>Folders</span></a></div>
                    </div>
                    <div class="parent">
                        <div class="unfold"><a><i class="material-icons">attach_file</i><span>Items 2</span></a></div>
                        <div><a href="{% url 'video' %}"><i class="material-icons">personal_video</i><span>Videos</span></a></div>
                        <div><a href=""><i class="material-icons">audiotrack</i><span>Audio</span></a></div>
                    </div>
                    <div class="parent">
                        <div class="unfold"><a><i class="material-icons">attach_file</i><span>Items 2</span></a></div>
                        <div><a href="{% url 'video' %}"><i class="material-icons">personal_video</i><span>Videos</span></a></div>
                        <div><a href=""><i class="material-icons">audiotrack</i><span>Audio</span></a></div>
                    </div>
                </div>
            </div>

            <div class="content-container">
                <div class="header">
                    <div class="row col-xs-6 breadcrumbs">Breadcrumbs</div>
                    <div class="row col-xs-4 account">Logged in as:<br>{{ user }}<br>
                        <a href="{% url 'logout' %}">Logout</a></div>
                </div>
                <div class="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
    </div>
    <script>
    $(document).ready(function(){
        $('body').on('click', '.unfold', function(){
            if (!$(this).hasClass('shown')){
                $(this).parent().find('div').show();
                $(this).addClass('shown');
            } else {
                $(this).parent().find('div').hide();
                $(this).show();
                $(this).removeClass('shown');
            }
        });
    });
    </script>
</body>
</html>
