{% load static %}
<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}The HTML5 Herald{% endblock %}</title>

    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    {% block js %}
    <script src="{% static 'js/scripts.js' %}"></script>
    {% endblock %}

    {% block css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% endblock %}
</head>

<body>
    <ul class="menu">
        <li>Files</li>
        <li>Folders</li>
        <li>Videos</li>
        <li>Audio</li>
    </ul>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
