{% extends "base.html" %}

{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Files Edit{% endblock %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "/" %}
    {% breadcrumb "Files" "files" %}
    {% breadcrumb "Edit files" "" %}
{% endblock %}

{% block content %}

<div class="col-xs-8">
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include "common/_form_nf_errors.html" %}

            {% for field in form %}

                {% include "common/_form_field_errors.html" %}

                <div class="form-label">{{ field.label }}</div>
                {{ field|add_class:"form-control" }}

                {% if field.name == 'top_images' %}
                    <div class="slider_images">
                        {% for img in form.instance.top_slider.images.all %}
                        <img src="{{ img.image.url }}"></img>
                        {% endfor %}
                    </div>
                {% elif field.name == 'bottom_images' %}
                    <div class="slider_images">
                        {% for img in form.instance.bottom_slider.images.all %}
                        <img src="{{ img.image.url }}"></img>
                        {% endfor %}
                    </div>
                {% endif %}

            {% endfor %}

            <div class="btn-container">
                <input class="btn btn-bold btn-default" type="submit" value="Update" />
                <a role="button" class="btn btn-bold btn-danger" href="{% url 'files' %}">Cancel</a>
            </div>

        </form>
    </div>
</div>

{% endblock %}
