
{% for object in objects %}
<tr>
    <td>{{ object.name }}</td>
    <td>{{ object.price }}</td>
    <td>{{ object.users_count }}</td>
    <td>{{ object.count }}</td>
    <td>
        <a class="list-option" href="{% url 'rooms_edit' p_id=file.id id=object.id %}"><i class="material-icons">edit</i></a>
        <a class="list-option" href="{% url 'rooms_delete' p_id=file.id id=object.id %}" onclick="return confirm('Please confirm {{ object.name }} deletion?')">
            <i class="material-icons">delete</i>
        </a>
    </td>
</tr>
{% endfor %}
