
{% for object in objects %}
<tr>
    <td>{{ object.item.name }}</td>
    <td>{{ object.user }}</td>
    <td>{{ object.rate }}</td>
    <td>{{ object.created_at }}</td>
    <td>{{ object.heading|safe }}</td>
    <td>
        <a class="list-option" href="{% url 'features_edit' id=object.id %}"><i class="material-icons">edit</i></a>
        <a class="list-option" href="{% url 'features_delete' id=object.id %}" onclick="return confirm('Please confirm {{ object.name }} deletion?')">
            <i class="material-icons">delete</i>
        </a>
    </td>
</tr>
{% endfor %}
