body{
    font-size: 16px;
    font-family: "Sans-serif", Arial, serif;
}
.main{
    
}
.menu{
    width: 200px;
    background-color: #3333cc;
    padding-left: 0px;
    margin: 0px;
}
.menu a {
    text-decoration: none;
    color: white;
}
.menu div:not(.parent){
    padding: 20px 0px 20px 22px;
    border-bottom: 1px solid #8000ff;
    display: none;
    background-color: #6600cc;
}
.menu .parent{
    display: block;
    border-top: 1px solid #8000ff;
}
.menu .parent div:first-child{
    display: block;
    padding-left: 0px;
    border-bottom: none;
    background-color: #3333cc;
}
.menu div:last-child{
    border-bottom: 1px solid #8000ff;
}
.menu .parent div:last-child{
    border-bottom: none;
}
.menu .shown{
    border-bottom: 1px solid #8000ff !important;
}
.menu div i{
    padding-left: 10px;
    padding-right: 10px;
}
.menu div span{
    vertical-align: top;
    display: inline-block;
    padding-top: 4px;
}
.content{
    float: left;
    border-top: 1px solid #ccc;
}
.header{
    height: 80px;
}
.left-col{
    float: left;
    background-color: #3333cc;
}
.container{
    display: inline-flex;
}
.logo{
    padding-top: 28px;
    width: 200px;
    height: 80px;
    background-color: #3333cc;
    color: white;
    text-align: center;
}
.content-container{
    padding-left: 20px;
}
.list-table td{
    padding: 10px;
}
.list-table th{
    text-align: left;
    padding: 10px;
}
.list-table tr td,
.list-table tr th{
    border-bottom: 1px solid #ccc;
}
.list-table th.sortable{
    cursor: pointer;
}
.asc{
    background-image: url("/static/img/a-up.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 10px center;
}
.desc{
    background-image: url("/static/img/a-down.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 10px center;
}
.page{
    padding: 10px;
    float: left;
}
.pages{
    padding: 2 px;
    float: right;
}
.pp{
    float: left;
}
.page_select{
    cursor: pointer;
    text-decoration: none;
}
.page_select:hover{
    text-decoration: none;
}
.form-label{
    font-weight: bold;
}
.btn-container{
    margin: 12px 0px;
}
.btn-bold{
    font-weight: bold;
}
.form-error,
.field-error{
    color: purple;
    font-weight: bold;
    font-size: 14px;
    text-align: right;
    width: 40%;
    float: right;
}
.account{
    float: right;
    text-align: right;
}
.breadcrumbs{
    padding-top: 26px;
}
