body{
    font-size: 16px;
    font-family: "Sans-serif", Arial, serif;
}
.main{
    
}
.menu{
    width: 200px;
    background-color: #3e3aa8;
    float: left;
    padding-left: 0px;
    margin: 0px;
}
.menu a {
    text-decoration: none;
    color: #a6a4e8;
}
.menu li{
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    border-bottom: 1px solid #6562af;
}
.menu li:first-child{
    border-top: 1px solid #6562af;
}
.menu li i{
    padding-left: 10px;
    padding-right: 10px;
}
.menu li span{
    vertical-align: top;
    display: inline-block;
    padding-top: 4px;
}
.content{
    float: left;
    border-top: 1px solid #ccc;
}
.header{
    height: 80px;
}
.left-col{
    float: left;
    background-color: #3e3aa8;
    height: 100%;
}
.container{
    display: inline-flex;
}
.logo{
    width: 200px;
    height: 80px;
    background-color: #3e3aa8;
    color: white;
    text-align: center;
}
.content-container{
    padding-left: 210px;
}
.list-table td{
    padding: 10px;
}
.list-table th{
    text-align: left;
    padding: 10px;
}
.list-table tr td,
.list-table tr th{
    border-bottom: 1px solid #ccc;
}
.list-table th.sortable{
    cursor: pointer;
}
.asc{
    background-image: url("/static/img/a-up.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 10px center;
}
.desc{
    background-image: url("/static/img/a-down.png");
    background-repeat: no-repeat;
    background-size: 12px;
    background-position: right 10px center;
}
.page{
    padding: 10px;
    float: left;
}
.pages{
    padding: 2 px;
    float: right;
}
.pp{
    float: left;
}
