{% extends "base.html" %}

{% load widget_tweaks %}
{% load django_bootstrap_breadcrumbs %}

{% block title %}Features Edit{% endblock %}

{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% breadcrumb "Home" "files" %}
    {% breadcrumb "Features" "features" %}
    {% breadcrumb "Edit features" "" %}
{% endblock %}

{% block content %}

<div class="col-xs-8">
    <div class="row">
        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            {% include "common/_form_nf_errors.html" %}

            {% for field in form %}

                {% include "common/_form_field_errors.html" %}

                <div class="form-label">{{ field.label }}</div>

                {% if field.name == 'image' and form.instance.image %}
                <div class="admin_images">
                    <img src="{{ form.instance.image.url }}"></img>
                </div>
                {% endif %}

                {{ field|add_class:"form-control" }}

            {% endfor %}

            <div class="btn-container">
                <input class="btn btn-bold btn-default" type="submit" value="Update" />
                <a role="button" class="btn btn-bold btn-danger" href="{% url 'features' %}">Cancel</a>
            </div>

        </form>
    </div>
</div>

{% endblock %}
